@model Nuka.MVC.Web.Models.SampleItemModel

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Sample Item</title>
</head>
<body>
<div>
    <div>Id: @Model.Id</div>
    <div>ItemId: @Model.ItemId</div>
    <div>ItemName: @Model.ItemName</div>
    <div>Description: @Model.Description</div>
    <div>Price: @Model.Price</div>
</div>
</body>
</html>